@import './abstract/variables';
@import './abstract/mixin';
@import './global/normalize';

body {
    font-family: $font-family;
    color: $font-color-main;
    background-color: $background-color;
    padding: 0 15px;
}

textarea{
    all: unset;
}

.title{
    font-weight: 800;
    font-size: $size-logo;
    text-align: center;
}

/* Makes the div become a textarea */
.text-area{
    display: block;
    @include page-center;
    height: 150px;
    width: 100%;
    cursor: text;
    overflow-y: auto;
    outline: none;
    border-bottom: 1px solid $gray;
    margin-bottom: 15px;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    background-color: $main-color-light;
    transition: border 0.2s ease-in-out;
    line-height: 1.75rem;

    &:focus{
        border-bottom: 1px solid $main-color;
    }

    &.-error{ /* Null text area */
        border-bottom: 1px solid $error-color;
        background-color: $error-color-light;
    }
}

.utils-box{
    @include page-center;
    @include centralized-content;
}

.divider{
    border: 1px solid $gray-light;
    width: 200px;
    margin: 15px auto;
}

.copy-clipboard{
    @include button-reset;
    position: relative;
    background-color: $main-color;
    color: $background-color;
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    margin: auto 0px;

    &:hover{
        background-color: darken($main-color, 5%);
    }

    &:hover > .tooltiptext{
        visibility: visible;
        opacity: 1;
    }

    & > .tooltiptext{
        visibility: hidden;
        width: 140px;
        background-color: $gray-dark;
        color: $background-color;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
        font-weight: 400;
    }
    
    & > .tooltiptext:after{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $gray-dark transparent transparent transparent;
    }
    
    & > .icon{
        font-size: 1.2rem;
        margin-left: 5px;
    }
}

.tools-box{
    @include centralized-content;
    @include page-center;

    & > .button{
        @include button-reset;
        width: 170px;
        background-color: $background-color;
        border-radius: 4px;
        border: 1px solid $gray;
        text-align: left;
        margin: 0 5px 5px 0;
    }

    & > .button:hover{
        background-color: $gray-light;
    }

    & > .button > .helptext{
        font-weight: 300;
        font-size: $size-helptext;
    }

    & > .button > .helptext:before{
        content: "\a";
        white-space: pre;
    }
}

.box-infos{
    margin-left: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    & > .label{
        font-weight: 800;
    }

    & > .label > .data{
        font-weight: 400;
    }
}