@import './abstract/variables';
@import './abstract/mixin';
@import './global/normalize';

body {
    font-family: $font-family;
    color: $font-color-main;
    background-color: $background-color;
    padding: 0 15px;
}

.title{
    font-weight: 800;
    font-size: $size-logo;
    text-align: center;
}

/* Makes the div become a textarea */
.text-area{
    @include page-center;
    min-height: 150px;
    cursor: text;
    outline: none;
    border-bottom: 1px solid $gray;
    margin-bottom: 15px;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    background-color: $main-color-light;
    transition: border 0.2s ease-in-out;
    

    &:empty:before{
        content:attr(data-placeholder);
        color: $font-color-placeholder;
    }

    &:focus{
        border-bottom: 1px solid $main-color;
    }

    &.-error{ /* Null text area */
        border-bottom: 1px solid $error-color;
        background-color: $error-color-light;
    }
}

.tools-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include page-center;

    & > .button{
        width: 170px;
        background-color: $background-color;
        text-decoration: none;
        border-radius: 4px;
        border: 1px solid $gray;
        cursor: pointer;
        transition: background 200ms ease-out, transform 150ms ease;
        text-align: left;
        padding: 10px 20px;
        margin: 0 5px 5px 0;
    }

    & > .button:hover{
        background-color: $gray-light;
    }

    & > .button > .helptext{
        font-weight: 300;
        font-size: $size-helptext;
    }

    & > .button > .helptext:before{
        content: "\a";
        white-space: pre;
    }
}