@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family: 'Inter', sans-serif;
$font-color-placeholder: #737a91;
$font-color-main: #0e101a;
$background-color: #ffff;

$size-logo: 2rem;
$size-body: 1rem;